aiohttp
aiosignal
asgiref
async-timeout
attrs
certifi
charset-normalizer
Django
frozenlist
idna
multidict
numpy
openai
pandas
python-dateutil
pytz
requests
six
sqlparse
tqdm
urllib3
yarl
dj-database-url
gunicorn
psycopg2

