
{% extends 'index.html' %}
{% block content %}
  <form method="post" action="/compare/">
    {% csrf_token %} <!-- add this for security -->
    <table>
      <tr>
        <td>
          <select name="home_team">
            <option value="" selected>Select Team</option>
            {% for name in names %}                                                          
              <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
          </select>
        </td>

        <td><h4> vs </h4></td>

        <td>
          <select name="away_team">
            <option value="" selected>Select Team</option>
            {% for name in names %}
              <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
          </select>
        </td>

        <td><button type="submit">Compare</button></td>

      </tr>
    </table>
  </form>

  <table id="compare_stats">
      {% if home and away %}
      <tr>
        <td>
          <p id="stats" onload="focus_stats()">{{home}}</p>
          <canvas id="homeChart"> </canvas>
        </td>
        <td></td>
        <td>
          <p id="stats">{{away}}</p>
          <canvas id="awayChart"> </canvas>
        </td>
        <td></td>
      </tr>
      {% endif %}
  </table>


  {% if home and away %}
  <form  method="post" action="/predict/">
    {% csrf_token %}
    <button id="predict" onclick="focus_prediction()">AI Prediction</button>
    <table id="prediction">
      {% if prediction %}
      <tr>
        <td colspan="4"><h4>AI Prediction:</h4></td>
      </tr>
      <tr>
        <td colspan="4">{{prediction}}</td>
      </tr>
      {% endif %}
    </table>
  </form>
  {% endif %}

  <script>
    
    //Charts
    const ctx = document.getElementById('homeChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

    //Focus
    const stats = document.getElementById("compare_stats");
    const prediction = document.getElementById("prediction");
    
    function focus_stats(){
      stats.focus();
    }

    function focus_prediction(){
      prediction.focus();
    }

  </script>
{% endblock content %}

