{% extends 'index.html' %}

{% block content %}
  <p>Select a home team and away team then press on compare to get a comparison of their stats.</p>
  <form method="post">
    {% csrf_token %} <!-- add this for security -->
    <table>
      <tr>

        <td>
          <select name="home_team">
            <option value="" selected>Select Team</option>
            {% for name in names %}                                                          
              <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
          </select>
        </td>

        <td><h4> vs </h4></td>

        <td>
          <select name="away_team">
            <option value="" selected>Select Team</option>
            {% for name in names %}
              <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
          </select>
        </td>

        <td><button type="submit">Compare</button></td>

      </tr>

      {% if home and away %}
      <tr>
        <td><p>{{home}}</p></td>
        <td></td>
        <td><p>{{away}}</p></td>
        <td></td>
      </tr>
      {% endif %}

      {% if prediction %}
      <tr>
        <td colspan="4"><h4>AI Prediction:</h4></td>
      </tr>
      <tr>
        <td colspan="4">{{prediction}}</td>
      </tr>
      {% endif %}

    </table>
  </form>

{% endblock content %}

