{% extends 'index.html' %}
{% block content %}
<div id="main">

  <div id="select-container">
    <table id="selection">
      <tr>

        <td>
          <select name="homeTeam" onchange="start()">
            <option value="" selected>Select Team</option>
            {% if names %}
            {% for name in names %}                                                          
              <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
            {% endif %}
          </select>
        </td>

        <td><p> VS </p></td>

        <td>
          <select name="awayTeam" onchange="start()">
            <option value"" selected>Select Team</option>
            {% if names %}

            {% for name in names %}
              <option value="{{ name }}">{{ name }}</option>
            {% endfor %}

            {% endif %}
          </select>
        </td>
      </tr>
    </table>
  </div>

  <div id="homeStats" class="display" hidden>
    <div id="canvas-container">
      <table >
        <!-- Javascript will populate these stats based on the json info it recieved -->
        <th id="homeTableHeader"></th>

        <tr>
    
          <td id="homeGraphs">
              <canvas id="homePie"></canvas>
          </td>
          
          <td>
              <canvas id="homeGraph"></canvas>
          </td>
        
        </tr>
      </table>
    </div>
    <br>

    <p id="homeName" style="text-align:center"></p>
    <table style="width: 100%;" id="homeTable">
      <tbody>
          <tr>
              <td style="width: 25.0000%;"><br></td>
              <td style="width: 25.0000%;">
                  <div style="text-align: center;"><strong>Home</strong></div>
              </td>
              <td style="width: 25.0000%;">
                  <div style="text-align: center;"><strong>Away</strong></div>
              </td>
              <td style="width: 25.0000%;">
                  <div style="text-align: center;"><strong>Total</strong></div>
              </td>
          </tr>
          <tr id="homePlayed">
              <td style="width: 25.0000%;"><strong>Played</strong></td>
              <td style="width: 25%; text-align: center;" id="homePlayedHome"></td>
              <td style="width: 25%; text-align: center;" id="homePlayedAway"></td>
              <td style="width: 25%; text-align: center;" id="homePlayedTotal"></td>
          </tr>
          <tr id="homeWins">
              <td style="width: 25.0000%;"><strong>Won</strong></td>
              <td style="width: 25%; text-align: center;" id="homeWonHome"></td>
              <td style="width: 25%; text-align: center;" id="homeWonAway"></td>
              <td style="width: 25%; text-align: center;" id="homeWonTotal"></td>
          </tr>
          <tr id="homeDraws">
              <td style="width: 25.0000%;"><strong>Drawn</strong></td>
              <td style="width: 25%; text-align: center;" id="homeDrawnHome"></td>
              <td style="width: 25%; text-align: center;" id="homeDrawnAway"></td>
              <td style="width: 25%; text-align: center;" id="homeDrawnTotal"></td>
          </tr>
          <tr id="homeLoses">
              <td style="width: 25.0000%;"><strong>Lost</strong></td>
              <td style="width: 25%; text-align: center;" id="homeLostHome"></td>
              <td style="width: 25%; text-align: center;" id="homeLostAway"></td>
              <td style="width: 25%; text-align: center;" id="homeLostTotal"></td>
          </tr>
          <tr id="homeWinPerc">
              <td style="width: 25.0000%;"><strong>Win %</strong></td>
              <td style="width: 25%; text-align: center;" id="homeWinPercHome"></td>
              <td style="width: 25%; text-align: center;" id="homeWinPercAway"></td>
              <td style="width: 25%; text-align: center;" id="homeWinPercTotal"></td>
          </tr>
          <tr id="homeDrawPerc">
              <td style="width: 25.0000%;"><strong>Draw % </strong></td>
              <td style="width: 25%; text-align: center;" id="homeDrawPercHome"></td>
              <td style="width: 25%; text-align: center;" id="homeDrawPercAway">&nbsp;</td>
              <td style="width: 25%; text-align: center;" id="homeDrawPercTotal"></td>
          </tr>
          <tr id="homeLosePerc">
              <td style="width: 25.0000%;"><strong>Lose %</strong></td>
              <td style="width: 25%; text-align: center;" id="homeLosePercHome"></td>
              <td style="width: 25%; text-align: center;" id="homeLosePercAway">&nbsp;</td>
              <td style="width: 25.0000%;">
                  <div style="text-align: center;" id="homeLosePercTotal"></div>
              </td>
          </tr>
      </tbody>
  </table>

  </div>

  <br>

  <div id="awayStats" class="display" hidden>
    <table >
      <!-- Javascript will populate these stats based on the json info it recieved -->
      
      <th id="awayTabeHeader"></th>
      <tr>
        
        <td id="awayGraphs">
          <canvas id="awayPie"></canvas>
        </td>

        <td>
          <canvas id="awayGraph"></canvas>
        </td>
      
      </tr>
    </table>

    <br>

    <p id="awayName" style="text-align:center"></p>
    <table style="width: 100%;" id="awayTable">
      <tbody>
          <tr>
              <td style="width: 25.0000%;"><br></td>
              <td style="width: 25.0000%;">
                  <div style="text-align: center;"><strong>Home</strong></div>
              </td>
              <td style="width: 25.0000%;">
                  <div style="text-align: center;"><strong>Away</strong></div>
              </td>
              <td style="width: 25.0000%;">
                  <div style="text-align: center;"><strong>Total</strong></div>
              </td>
          </tr>
          <tr id="awayPlayed">
              <td style="width: 25.0000%;"><strong>Played</strong></td>
              <td style="width: 25%; text-align: center;" id="awayPlayedHome"></td>
              <td style="width: 25%; text-align: center;" id="awayPlayedAway"></td>
              <td style="width: 25%; text-align: center;" id="awayPlayedTotal"></td>
          </tr>
          <tr id="awayWins">
              <td style="width: 25.0000%;"><strong>Won</strong></td>
              <td style="width: 25%; text-align: center;" id="awayWonHome"></td>
              <td style="width: 25%; text-align: center;" id="awayWonAway"></td>
              <td style="width: 25%; text-align: center;" id="awayWonTotal"></td>
          </tr>
          <tr id="awayDraws">
              <td style="width: 25.0000%;"><strong>Drawn</strong></td>
              <td style="width: 25%; text-align: center;" id="awayDrawnHome"></td>
              <td style="width: 25%; text-align: center;" id="awayDrawnAway"></td>
              <td style="width: 25%; text-align: center;" id="awayDrawnTotal"></td>
          </tr>
          <tr id="awayLoses">
              <td style="width: 25.0000%;"><strong>Lost</strong></td>
              <td style="width: 25%; text-align: center;" id="awayLostHome"></td>
              <td style="width: 25%; text-align: center;" id="awayLostAway"></td>
              <td style="width: 25%; text-align: center;" id="awayLostTotal"></td>
          </tr>
          <tr id="awayWinPerc">
              <td style="width: 25.0000%;"><strong>Win %</strong></td>
              <td style="width: 25%; text-align: center;" id="awayWinPercHome"></td>
              <td style="width: 25%; text-align: center;" id="awayWinPercAway"></td>
              <td style="width: 25%; text-align: center;" id="awayWinPercTotal"></td>
          </tr>
          <tr id="awayDrawPerc">
              <td style="width: 25.0000%;"><strong>Draw % </strong></td>
              <td style="width: 25%; text-align: center;" id="awayDrawPercHome"></td>
              <td style="width: 25%; text-align: center;" id="awayDrawPercAway">&nbsp;</td>
              <td style="width: 25%; text-align: center;" id="awayDrawPercTotal"></td>
          </tr>
          <tr id="awayLosePerc">
              <td style="width: 25.0000%;"><strong>Lose %</strong></td>
              <td style="width: 25%; text-align: center;" id="awayLosePercHome"></td>
              <td style="width: 25%; text-align: center;" id="awayLosePercAway">&nbsp;</td>
              <td style="width: 25.0000%;">
                  <div style="text-align: center;" id="awayLosePercTotal"></div>
              </td>
          </tr>
      </tbody>
  </table>
  </div>

  <br>

  <div id="prediction" hidden>
    <div id="predict-container">
      <button id="predict" onclick="getAnalysis()">Get Analysis</button>
    </div>
    <table id="prediction">
      <tr>
        <td colspan="4">
          <pre id="analysis"></pre>
        </td>
      </tr>
    </table>
  </div>

</div>
{% endblock content %}

