/* Body Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f4f4f4;
  color: #333;
}


/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.hideme{
  display: none;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  transition: all .2s ease-in-out;
  padding: .5rem;
  border-radius: 3px;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

/* Main Content Styles */
.main-content {
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1.5rem;
}

/* Button Styles */
button {
  display: inline-block;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

button:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}

/* Select Styles */
select {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 3px #999;
}

#main{
  margin: auto;
  width: 50%;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

