/* Default styles */

body {
  background-color: #F5F5F5;
}

#logo {
  text-align: center;
  font-size: 36px;
  margin-top: 30px;
}

p {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
  padding: 10px;
  background-color: #F5F5F5;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#stats {                                                                               max-width: 600px;                                                                  margin: 0 auto;                                                                    padding: 30px;                                                                     background-color: #FFFFFF;                                                         border-radius: 10px;                                                               box-shadow: 0px 0px 10px rgba(0,0,0,0.5);                                        }

input[type="submit"] {
  background-color: #4CAF50;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* Styles for screens smaller than 600px (phone screens) */

@media screen and (max-width: 600px) {

  #logo {
    font-size: 24px;
    margin-top: 10px;
  }

  p {
    font-size: 16px;
    margin-top: 10px;
  }

  footer {
    font-size: 12px;
    margin-top: 20px;
    padding: 5px;
  }

  form {
    max-width: 100%;
    margin: 0;
    padding: 20px;
  }

  input[type="submit"] {
    margin-top: 10px;
  }
}

